<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user_name %></h1>
    <p>
      This week you scored <%= @rate %> points.<br>
      Take our congratulations!
    </p>
    <p>
      Our company cheers you.
    </p>
  </body>
</html>