<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user_name %></h1>
    <p>
      Our company noticed that you didn't visit our site for a while.<br>
    </p>
    <p>
      Please, visit us again here: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>